<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home - CameraCaffé</title>
    <link rel="stylesheet" href="/css/styles.css" />
</head>
<body>
<div class="wrapper">
    <header>
        <h1>CameraCaffé - Distributori Automatici</h1>
        <nav>
            <div>
                <ul class="navbar-list">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Chi siamo</a></li>
                    <li><a href="#">Contatti</a></li>
                    <li class="navbar-item-spaced"><p th:if="${isLoggedIn}" th:text="'Bentornato, ' + ${username} + '!'"></p></li>
                    <li>
                        <form th:if="${isLoggedIn}" th:action="@{/dashboard}" method="get">
                            <button type="submit" class="profile-btn">Il mio profilo</button>
                        </form>
                    </li>
                </ul>


            </div>
        </nav>
    </header>
    <main>
        <section class="hero">
            <div class="hero-content">
                <img src="/img/caffe.png" alt="Tazza di caffè" class="hero-image" width="666"/>
                <div class="hero-text">
                    <h2>Benvenuto nel sito di CameraCaffé!</h2>
                    <button class="register-btn" onclick="window.location.href='/register'">Registrati</button>
                    <p class="login-link">
                        Già registrato? <a href="/login">Login</a>
                    </p>
                </div>
            </div>
        </section>


    </main>
</div>
<div class="coffee-waves">
    <svg viewBox="0 0 1440 320" preserveAspectRatio="none" >
        <path fill="#803b18" fill-opacity="1" d="">
            <animate
                    attributeName="d"
                    dur="8s"
                    repeatCount="indefinite"
                    values="
                M0,320 C360,240 1080,400 1440,320 L1440,320 L0,320 Z;
                M0,280 C360,360 1080,200 1440,280 L1440,320 L0,320 Z;
                M0,320 C360,240 1080,400 1440,320 L1440,320 L0,320 Z"
            />
        </path>
    </svg>
</div>
<footer>
    <p>&copy; 2025 CameraCaffé. Tutti i diritti riservati.</p>
</footer>
</body>
</html>
